:root {
  --main-background: #1b1919;
  --secondary-background: #503131;
  --main-text: #ffd0d5;
  --font-black: "Gotham Black", sans-serif;
  --font-bold: "Gotham Bold", sans-serif;
  --font-thin: "Gotham Thin", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  background: rgb(27, 25, 25);
  background: linear-gradient(
    240deg,
    rgba(27, 25, 25, 1) 0%,
    rgba(80, 49, 49, 1) 100%
  );
}

a {
  cursor: pointer;
}
a,
li {
  color: inherit !important;
  text-decoration: none !important;
  list-style: none !important;
}

* {
  box-sizing: border-box;
}
