.nav {
  background: transparent;
  transition: background 0.8s;
}
.navList {
  margin: auto;
  letter-spacing: 1.5px;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 0 10vh 0 10vh;
}
.navBrand {
  margin-left: 10vh;

  font-size: 53px;
  font-family: var(--font-black);
  color: var(--main-text) !important;
}
.active {
  background: var(--main-background);
  transition: color 0.4s;
  transition: background 0.8s;
  color: #fff;
  opacity: 0.95;
}
.active .navList {
  transition: color 0.2s;
  color: #fff !important;
}
.active .navBrand {
  color: var(--main-text);
}

.link {
  margin: 0 30px 0 30px;
  font-family: var(--font-bold);
}
@media only screen and (max-width: 991px) {
  .nav {
    background: var(--main-background);
    opacity: 0.9;
    margin-left: 0;
    padding: 20px;
  }
}
