.layout {
  display: flex;
  align-items: flex-end;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.card img {
  border-radius: 50%;
  width: 80px;
}

.card h1 {
  font-size: 20px;
}

.card h4 {
  font-size: 12px;
}

.disconnect {
  font-size: 10px;
}
